 *{
    box-sizing: border-box;
	}
body{
   background-color: black;
}
.container{
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	margin-top: 90px;
	}
.new{
	display: block;
	margin-left: 120px;
	margin-top: 14px;
	margin-left: 175px;
}
.address{
	display: flex;
}
.mail{
	display: flex;
}
.call{
	display: flex;
}
.address i{
	border: 10px;
	border-radius: 10px;
}
h3{
	color: #000000a1;
	font-family:  arial;
	font-size: 17px;
	padding-left: 27px;
	margin-top: -17px;
}
p{
	color: #2196f3;
	font-family: sans-serif;
	padding-top: 2px;
	padding-left: 26px;
}
.form{
	margin: 0 auto;
	margin-left: 135px;
	font-size: 20px;
	font-family:Times New Roman;
}
.name input{
	padding: 8px;
    width: 45%;
	border: 1px solid #8080804d;
}
.sub input{
	margin-top: 26px;
    padding: 9px;
    width: 91%;
	border: 1px solid #8080804d;
	}
.msg textarea{
	padding-top: 28px;
    margin-right: 33px;
	margin-top: 27px;
	border-color: #8080804d;
}
button{
	margin-left: 126px;
	background-color: #0000ffb0;
	border-radius: 47px;
	border: 0;
	color: white;
}
